
<mat-card>
  <mat-card-header>
    <mat-card-title>Manage Users</mat-card-title>
    <mat-card-subtitle>Manage users and their roles</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <table #usertable mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef><h3>Id</h3></th>
        <td mat-cell *matCellDef="let element">
          <h4>{{element.id}}</h4>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef><h3>Username</h3></th>
        <td mat-cell *matCellDef="let element">
          <h4>{{element.username}}</h4>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef><h3>Email</h3></th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input  matInput
                    placeholder="N/A"
                    type="email"
                    (change)="updateEmailFor(element.id, $event)" 
                    [value]="element.email">
          </mat-form-field>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef><h3>Registered</h3></th>
        <td mat-cell *matCellDef="let element"><h4>{{element.created | date: "short"}}</h4></td>
      </ng-container>

      <ng-container matColumnDef="lastOnline">
        <th mat-header-cell *matHeaderCellDef><h3>Last Online</h3></th>
        <td mat-cell *matCellDef="let element"><h4>{{element.lastOnline | date: "short"}}</h4></td>
      </ng-container>
      
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef><h3>Roles</h3></th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <mat-select [compareWith]="compareRoles" multiple [(ngModel)]="element.roles" (ngModelChange)="updateRolesFor(element.id, $event)">
              <mat-option *ngFor="let role of roles" [value]="role"><h4>{{role.roleName}}</h4></mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef><h3>Actions</h3></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteRow(element)" [disabled]="element.id==1">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="manageCharacters(element.id)" [disabled]="element.id==1">
            <mat-icon>accessibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="xcolumns"></tr>
      <tr mat-row *matRowDef="let row; columns: xcolumns;"></tr>

    </table>

  </mat-card-content>
</mat-card>