<form [formGroup]="registerForm" (ngSubmit)="register()" [ngClass.gt-sm]="'fullscreen'">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>Register an Account</h2>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>Required Fields</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column">
            <mat-form-field fxFlex="60">
                <mat-label>Choose a username</mat-label>
                <input id="username" matInput placeholder="Username" type="text" formControlName="username" />
                <mat-error *ngIf="registerForm.controls.username.errors?.['nameTaken']">
                    Username is taken.
                </mat-error>
                <mat-error *ngIf="registerForm.controls.username.errors?.['required']">
                    Username is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="60">
                <mat-label>Enter a password</mat-label>
                <input id="password" matInput placeholder="Password" [type]="showPassword ? 'text' : 'password'" formControlName="password" />
                <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="registerForm.controls.password.errors?.['required']">
                    Password is required.
                </mat-error>
            </mat-form-field>
        
            <mat-form-field fxFlex="60">
                <mat-label>Confirm Password</mat-label>
                <input id="passwordConfirm" matInput placeholder="Confirm Password" [type]="showPassword ? 'text' : 'password'" formControlName="passwordConfirm" />
                <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="registerForm.controls.passwordConfirm.errors?.['mismatch']">
                    Passwords do not match
                </mat-error>
                <mat-error *ngIf="registerForm.controls.passwordConfirm.errors?.['required']">
                    Confirming password is required.
                </mat-error>
            </mat-form-field>

            <br/>
            
        </mat-card-content>
    </mat-card>

    <br/>

    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>
                <h3>Optional Fields</h3>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div fxLayout="column">
                <div fxFlex>
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
                        <mat-form-field fxFlex="50">
                            <mat-label>First Name</mat-label>
                            <input id="firstName" matInput placeholder="First Name" type="text" formControlName="firstName" />
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                            <mat-label>Last Name</mat-label>
                            <input id="lastName" matInput placeholder="Last Name" type="text" formControlName="lastName" />
                        </mat-form-field>
                    </div>
                </div>
                    
                <mat-form-field fxFlex>
                    <mat-label>Email Address</mat-label>
                    <input id="email" matInput placeholder="Email" type="text" formControlName="email" />
                    <mat-error *ngIf="registerForm.controls.email.errors?.['email']">
                        Enter a valid email address
                    </mat-error>
                    <mat-hint>
                        <app-subtle-modal title="Why do you want my email?" text="We will not use your email for marketing or any nefarious purposes. When implemented down the road, you will be able to use your email (if provided) to reset your password.">
                        </app-subtle-modal>
                    </mat-hint>
                </mat-form-field>
            </div>
            
            <br>

            <mat-card-actions align="end">
                <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid">Register</button>
                <br>
                <button mat-raised-button type="button" color="warn" (click)="router.navigate(['/'])">Cancel</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>