<mat-card style="margin: auto; max-width: 50%;">
  <mat-card-header>
    <mat-card-title>
      Create a Feat
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="featForm" (ngSubmit)="submit()">
    <mat-card-content fxLayout="column wrap" fxLayoutAlign="space-between">
      <mat-form-field fxFlex>
        <mat-label>
          Feat Name
        </mat-label>
        <input matInput type="text" formControlName="nameForm" />
        <mat-error>
          <span *ngIf="featForm.controls['nameForm'].hasError('required')">
            Feat name is required
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>
          Feat Description
        </mat-label>
        <textarea matInput type="text" formControlName="descriptionForm">
                </textarea>
        <mat-error>
          <span *ngIf="featForm.controls['descriptionForm'].hasError('required')">
            Feat must have a description.
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>
          Prerequisite (Optional)
        </mat-label>
        <textarea matInput type="text" formControlName="prerequisiteForm">
                </textarea>
        <mat-hint>
          Requirements for a character to take this trait.
        </mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Create</button>
      <button mat-raised-button color="warn" (click)="location.back()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
