<ion-content>
  <!-- User Campaigns -->
  <ng-container #Campaigns *ngIf="campaigns.length > 0">
    <ion-item>
      <ion-label>
        <h1>Campaigns</h1>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-card *ngFor="let c of campaigns" style="width: 100%">
        <ion-card-header>
          <ion-card-title>{{c.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text [innerHTML]="innerHtmlForDescription(c.description)">
          </ion-text>
        </ion-card-content>
        <br />
        <ion-toolbar>
          <ion-buttons>
            <ion-button fill="clear" color="primary">Join</ion-button>
            <ion-button fill="clear" color="primary">Notes</ion-button>
            <ion-button fill="clear" color="primary">Party</ion-button>
            <ion-button fill="clear" color="primary">Map</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button fill="clear" color="secondary">Details</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card>
    </ion-item>
  </ng-container>

  <!-- User Characters -->
  <ng-container #Characters *ngIf="characters.length > 0">
    <ion-item>
      <ion-label>
        <h1>Characters</h1>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-card *ngFor="let c of characters" style="width: 100%">
        <ion-card-header>
          <ion-card-title>{{c.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{c.name}}
        </ion-card-content>
        <br />
        <ion-toolbar>
          <ion-buttons>
            <ion-button fill="clear" color="primary">Character Sheet</ion-button>
            <ion-button fill="clear" color="primary">Notes</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button fill="clear" color="secondary">Details</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card>
    </ion-item>
  </ng-container>

  <!-- Notes -->
  <ion-item>
    <ion-label>
      <h1>Notes</h1>
    </ion-label>
  </ion-item>
  <ion-item color="light">
    <ion-card *ngFor="let c of notes; trackBy: trackByNoteId" style="width: 100%">
      <ion-card-header>
        <ion-card-title>{{c.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngFor="let part of findNoteParts(c.id)">
          <ng-container *ngIf="part.type === 'text'">
            <ion-text [innerHTML]="part.value"></ion-text>
          </ng-container>
          <ng-container *ngIf="part.type === 'component'">
            <app-note-text [rawText]="part.value"></app-note-text>
          </ng-container>
        </ng-container>
      </ion-card-content>
      <br />
      <ion-toolbar>
        <ion-buttons>
          <ion-button fill="clear" color="primary">Edit</ion-button>
          <ion-button fill="clear" color="primary">Share</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card>
  </ion-item>
  <ion-item color="light">
    <ion-button fill="clear" color="primary">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Add Note
    </ion-button>
  </ion-item>
</ion-content>
