<ion-card style="width: 100%; height: 100%; margin: auto;">
  <ng-container *ngIf="tag">
    <ion-card-header>
      <ion-card-title>Manage Tag "{{tag.name}}"</ion-card-title>
      <ion-card-subtitle>
        <ion-chip [style.background-color]="tagColor" [outline]="true" [style.cursor]="'default'">
          <ion-icon [name]="iconNameWithDash(tagIcon)"></ion-icon>
          <ion-label>{{tag.name}}</ion-label>
        </ion-chip>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ng-container *ngIf="canEdit">
        <ion-item lines="none">
          <ion-label>Change Name</ion-label>
        </ion-item>
        <ion-item>
          <ion-input [value]="tag.name" fill="solid"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Change Color</ion-label>
        </ion-item>
        <ion-item>
          <color-sketch [color]="tagColor" (colorChange)="colorChange($event)"></color-sketch>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Change Icon</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon [name]="iconNameWithDash(tagIcon)" slot="start"></ion-icon>
          <ion-label color="secondary"><b>{{iconNameWithSpaces(tagIcon)}}</b></ion-label>
          <ion-button slot="end" fill="outline" color="secondary" (click)="toggleIconPicker()">
            Select Icon
          </ion-button>
        </ion-item>
        <ion-list *ngIf="showIconList">
          <ion-item *ngFor="let icon of tagIconOptions" (click)="toggleTagSelection($event, icon)">
            <ion-icon [name]="iconNameWithDash(icon.name)" slot="start"></ion-icon>
            <ion-label>{{iconNameWithSpaces(icon.name)}}</ion-label>
            <ion-checkbox slot="end" [checked]="isIconSelected(icon.name)"></ion-checkbox>
          </ion-item>
        </ion-list>

        <br/>
      </ng-container>

      <!-- Share menu: list users shared, pick users to add -->

      <app-user-select  [selectedUsers]="tagSharedUsers"
                        (addedUser)="shareTagWithUser($event)"
                        (removedUser)="unshareTagWithUser($event)">
      </app-user-select>

      <ion-item lines="none">
        <ion-button fill="clear" slot="start" color="secondary" (click)="finishEdits()">
          Done
        </ion-button>
        <!-- Cancel button is only for canceling changes to color/name/description -->
        <ion-button *ngIf="canEdit" fill="clear" slot="end" (click)="cancel()">
          Cancel
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ng-container>
</ion-card>
