<div class="fullscreen">
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Create Character</h1>
        </mat-card-title>
      </mat-card-header>
      <form [formGroup]="characterForm" (ngSubmit)="submit()">
        <mat-card-content style="padding: 20px">
          <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <!-- NAME -->
            <mat-form-field fxFlex="30">
              <input matInput placeholder="Character Name" type="text" formControlName="characterNameForm" />
              <mat-error>
                <span *ngIf="characterForm.controls['characterNameForm'].hasError('required')">Character name is required.</span>
                <span *ngIf="characterForm.controls['characterNameForm'].hasError('maxlength')">Character name cannot be longer than 20 characters. ({{characterForm.controls['characterNameForm'].value!.toString().length}})</span>
              </mat-error>
            </mat-form-field>
            
            <!-- RACE -->
            <span fxFlex="30" fxLayout="column">
              <app-filterable-select label="Select Race" 
                                    [multiple]="false" 
                                    [dataSource]="races"
                                    (selected)="characterForm.controls['raceIdForm'].setValue($event)"
                                    fxFlex
                                    #raceFilterSelect>
              </app-filterable-select>
              <div fxLayout="row" fxLayoutAlign="start none" fxFlex>
                <button fxFlex mat-button (click)="router.navigate(['dmaster/races/create'])">+ Create Race</button>
                <span fxFlex>
                  <app-subtle-modal [title]="getRaceModalTitle()" [text]="getRaceTraitDescription()">
                  </app-subtle-modal>
                </span>
              </div>
            </span>

            <!-- LEVEL -->
            <div fxFlex="15">
              <div fxLayout="column">
                <mat-label fxFlex>
                  Level: {{characterForm.controls['levelForm'].value!}}
                </mat-label>
                
                <div fxFlex>
                  <mat-slider style="width: 100%" ngDefaultControl formControlName="levelForm" step="1" min="1" max="20" value="1" discrete="false" showTickMarks="true">
                    <input matSliderThumb/>
                  </mat-slider>
                </div>
              </div>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px">

            <!-- CLASS -->
            <span fxFlex="32" fxLayout="column">
              <app-filterable-select label="Select a Class" 
                                    [multiple]="false" 
                                    [dataSource]="clazzes"
                                    (selectionsChange)="updateClassSelection($event)"
                                    fxFlex>
              </app-filterable-select>

              <div fxLayout="row" fxLayoutAlign="start none" fxFlex>
                <button fxFlex mat-button (click)="router.navigate(['dmaster/classes/create'])">+ Create Class</button>
                <span fxFlex>
                  <app-subtle-modal title="Class Traits" [text]="getClassTraitDescription()">
                  </app-subtle-modal>
                </span>
              </div>
            </span>

            <!-- SUBCLASS -->
            <span fxFlex="32" fxLayout="column">
              <app-filterable-select label="Choose a Subclass"
                                    [disabled]="characterForm.controls['classIdForm'].value < 0" 
                                    [multiple]="false" 
                                    [dataSource]="subclasses"
                                    (selectionsChange)="characterForm.controls['classIdForm'].setValue($event)"
                                    fxFlex>
              </app-filterable-select>
              <div fxLayout="row" fxLayoutAlign="start none" fxFlex>
                <button fxFlex mat-button (click)="router.navigate(['dmaster/classes/create'])">+ Create Subclass</button>
              </div>
            </span>
          </div>

          <mat-divider></mat-divider>
          <h2>Stats</h2>
          <div fxLayout="row wrap" fxLayoutAlign="space-between none" fxLayoutGap="20px">
            <stats-form-app stat="str"
                            fxFlex
                            (changed)="characterForm.get('statsForm.strengthForm')!.setValue($event)"
                            [statValue]="10">
            </stats-form-app>

            <stats-form-app stat="con"
                            fxFlex
                            (changed)="characterForm.get('statsForm.constitutionForm')!.setValue($event)"
                            [statValue]="10">
            </stats-form-app>

            <stats-form-app stat="dex"
                            fxFlex
                            (changed)="characterForm.get('statsForm.dexterityForm')!.setValue($event)"
                            [statValue]="10">
            </stats-form-app>

            <stats-form-app stat="cha"
                            fxFlex
                            (changed)="characterForm.get('statsForm.charismaForm')!.setValue($event)"
                            [statValue]="10">
            </stats-form-app>

            <stats-form-app stat="wis"
                            fxFlex
                            (changed)="characterForm.get('statsForm.wisdomForm')!.setValue($event)"
                            [statValue]="10">
            </stats-form-app>

            <stats-form-app stat="int"
                            fxFlex
                            (changed)="characterForm.get('statsForm.intelligenceForm')!.setValue($event)"
                            [statValue]="10">
            </stats-form-app>

          </div>
          <!-- ALL I NEED IS: 
            forms to manually add
            - stats [1-20] (str, dex, con, int, wis, cha)
            - Spell slots
            - Hit dice


            TO MAKE IT WORK WITH LIVE PLAY:
            - a menu to edit individual users
            - edits push as a message to a table
            - the message pushes a websocket update to users logged in
            - reflects change
          -->

          <!-- <mat-slide-toggle [checked]="isPC">
            <span *ngIf="isPC">PC</span>
            <span *ngIf="!isPC">NPC</span>
          </mat-slide-toggle> -->
          
          <!-- <app-health [dice]="hitDice">
          </app-health> -->

          <!-- modal selectors that let the players pick their spells and cantrips, or type up their background / pick background. -->
          <!-- <a>Spells</a>
          <a>Cantrips</a>
          <a>Background</a>
          <a>Personality</a>

          <h3 style="width: 100%;">
            Spell Slots
          </h3>

          <ng-container *ngFor="let d of spellSlots">
            <spell-slot-app [amount]="d.amount" [tier]="d.tier" [displayOnly]="true" style="margin: 4px;">
            </spell-slot-app>
          </ng-container> -->

        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" type="submit" [disabled]="!characterForm.valid">Create</button>
          <button mat-raised-button color="warn" type="button" (click)="router.navigate(['dmaster'])">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
