<ion-content>
  <ion-button [routerLink]="['users']">Users</ion-button>
  <ion-button [routerLink]="['campaigns']">Campaigns</ion-button>
  <ion-button [routerLink]="['characters']">Characters</ion-button>
  <ion-button [routerLink]="['races']">Races</ion-button>
  <ion-button [routerLink]="['classes']">Classes</ion-button>
  <ion-button [routerLink]="['subclasses']">Subclasses</ion-button>
  <ion-button [routerLink]="['notes']">Notes</ion-button>
  <ion-button [routerLink]="['spells']">Spells</ion-button>
  <ion-button [routerLink]="['items']">Items</ion-button>
</ion-content>
<router-outlet></router-outlet>
