<mat-card [ngClass.gt-sm]="'fullscreen'">
    <mat-card-header>
        <mat-card-title>
            About Cyther Online
        </mat-card-title>
        <mat-card-subtitle>
            Current version: {{version}}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <h2>Summary</h2>
        <p>
            Cyther.online is a tool designed for Dungeon Masters to help them manage their campaigns.
            It is designed to be used in conjunction with the Dungeons and Dragons 5th Edition ruleset,
            however, future updates will alow for wider flexibility.
        </p>
        <p>
            Individual users may create campaigns and invite other users to join them. Users who create
            a campaign become a Dungeon Master of that campaign, and can manage users, characters, lore, and unique rule sets.
            The DM can update character sheets, create and manage monsters, and create and manage items.
            Updates to the character sheets reflect live, and your users can see the changes you make in real time during
            your game nights.
        </p>
        <p>
            Cyther Online is still in early development, many new features are being added all the time, with some
            really cool ones to come down the road. Cyther Online should make a fun, useful, and optional supplement to any
            tabletop RPG campaign.
        </p>
        <mat-divider></mat-divider>

        <h2>Features</h2>
        <h3>Features for Users</h3>
        <p>
            This is an early version of Cyther Online, the only features that function at the moment are
            back-end or administrative features.
        </p>
        <mat-divider></mat-divider>

        <h2>Administrative Features</h2>
        <h3>Features for Dungeon Masters</h3>
        <p>
            This is a comprehensive list of current features with more or less complete functionality.
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>Authentication &amp; Authorization</span>
                    Custom JWT Auth services for user authentication and authorization.
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Manage Characters</span>
                    Create/View/Edit characters, races, classes, and feats.
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Up to date DnD 5e data</span>
                    We pull from various APIs to retrieve spells, feats, traits, and more. Credits available on 1.0 release.
                </mat-list-item>
            </mat-list>
        </p>
        <mat-divider></mat-divider>

        <h2>Changes</h2>
        <mat-list>
            <mat-list-item>
                <span matListItemTitle>Version 0.0.3</span>
                Account recovery with email password reset requests..
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Version 0.0.2</span>
                Character, Race, and Spell creation scaffolded.
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Version 0.0.1</span>
                First tracked version.
            </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <br>

        <p>
            <sub>Created by <a href="https://johnsimmons2.github.io/" target="_blank">Jonathan Simmons</a></sub>
        </p>
    </mat-card-content>
</mat-card>
