<mat-card>
    <mat-card-header>
        <mat-card-title>
            Feats
        </mat-card-title>
        <mat-card-subtitle>
            {{feats.length}} Feats
            <button mat-button (click)="router.navigate(['dmaster/feats/create'])"><mat-icon>add</mat-icon>Add</button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table mat-table #featstable [dataSource]="featDataSource">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef><h3>Id</h3></th>
                <td mat-cell *matCellDef="let element"><h4>{{element.id}}</h4></td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef fxLayout="row">
                    <h3 fxFlex="30">Name</h3>
                    <mat-form-field fxFlex>
                        <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Filter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"><h4>{{element.name}}</h4></td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef><h3>Description</h3></th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                        <input type="text" matInput readonly [value]="(element.description | slice:0:16)+'...'">
                        <app-input-modal matSuffix [text]="element.description" [subject]="element.name" (submit)="updateDescription($event, element.id)"></app-input-modal>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="deleteFeat(element.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="xcolumns"></tr>
            <tr mat-row *matRowDef="let row; columns: xcolumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </mat-card-content>