
<ng-container *ngIf="size===0; then cysmall; else cymediumlarge">
</ng-container>

<ng-template #cymediumlarge>
  <ng-container *ngIf="size===1; then cymedium; else cylarge">
  </ng-container>
</ng-template>

<ng-template #cysmall>
  <button mat-raised-button color="accent" class="dice-card-small" [disabled]="displayOnly">
    <mat-icon class="dice-icon-s" [svgIcon]="calcDiceIcon"></mat-icon>
  </button>
</ng-template>

<ng-template #cymedium>
  <div class="dice-card-medium-withlabel">
    <button mat-raised-button color="accent" class="dice-card" [disabled]="displayOnly">
      <b>{{value}}</b>
      <mat-icon class="dice-icon" [svgIcon]="calcDiceIcon"></mat-icon>
    </button>
    <span class="dice-type-label">
      d{{diceSize}}
    </span>
  </div>
</ng-template>

<ng-template #cylarge>
  <mat-card [ngClass]="{'enabled': displayOnly}" color="accent" class="dice-card-large" (click)="diceClicked()">
    <b>{{amount}}d{{diceSize}}</b>
    <span class="enabled-tooltip">
      Click to roll me!
    </span>
  </mat-card>
</ng-template>

