<mat-toolbar color="primary" style="margin-bottom: 12px;">
    <mat-toolbar-row style="padding: 0">
      <button *ngIf="isLoggedIn" mat-icon-button (click)="toggleNav()">
        <mat-icon>menu</mat-icon>
      </button>

      <span fxLayout="row" fxLayoutGap.gt-sm="20px">
        <div fxFlex class="nav-title" fxHide.lt-sm style="align-self: center; padding-left: 8px">{{currentTitle}}</div>

        <!-- DO NOT HIDE -->
        <app-header-button  fxFlex
                            buttonName="Home"
                            buttonRoute="/"
                            buttonIcon="home"
                            [isEnabled]="isLoggedIn">
        </app-header-button>

        <!-- DO NOT HIDE -->
        <app-header-button  fxFlex
                            buttonName="Characters"
                            buttonRoute="/characters"
                            buttonIcon="person"
                            [isEnabled]="isLoggedIn">
        </app-header-button>

        <app-header-button  fxFlex
                            fxHide.xs
                            buttonName="Campaigns"
                            buttonRoute="/campaign"
                            buttonIcon="map"
                            [isEnabled]="isLoggedIn">
        </app-header-button>

        <!-- <app-header-button  fxFlex
                            buttonName="Journal"
                            buttonRoute="/journal"
                            buttonIcon="bookmark_border"
                            buttonIconActive="bookmark"
                            [isEnabled]="isLoggedIn && isPlayer">
        </app-header-button> -->

        <app-header-button  *ngIf="isLoggedIn && isAdmin"
                            fxFlex
                            fxHide.xs
                            buttonName="Dungeon Master"
                            buttonRoute="/dmaster"
                            buttonIcon="add_circle_outline"
                            buttonIconActive="add_circle"
                            [isEnabled]="isLoggedIn && isAdmin">
        </app-header-button>
      </span>

      <div style="flex: 1 1 auto;"></div>

      <!-- DO NOT HIDE -->
      <app-header-button buttonName="Logout"
                        buttonIcon="logout"
                        (click)="logout()"
                        [isEnabled]="isLoggedIn">
      </app-header-button>

      <app-header-button buttonName="Login"
                        buttonIcon="login"
                        (click)="routeTo('login')"
                        [isEnabled]="!isLoggedIn">
      </app-header-button>
    </mat-toolbar-row>
  </mat-toolbar>
