<!-- Header with filter options for available filterables and a search bar -->

<!-- Show notes according to filter -->
<!-- Notes not owned by user (admin) should be highlighted -->

<!-- Notes should have tags and heirarchies. Creating a note in one simple form -->




<!-- Admin can reveal new notes (either by adding, sharing, etc) and users
receive a "A new note has been revealed" with a link (can use [[NOTES.id]] since it is site-wide)
-->

<!-- Notes need tags, which need a new table. -->

<!-- Notes need to have categories, a directory labeling style:
Apricot creates a new note, so the category is:
"Apricot/"

You may add subcategories such as "Stillport Notes" which show up as
"Apricot/Stillport Notes/"

will need a table for shared note categories to bulk share
-->


<!-- Fab for + button? -->

<ion-content>
  <ion-card>
    <ion-card-content>
      <ng-container>
        <ion-list>
          <ion-item>
            <ion-segment value="directory" #filterViewControl (ionChange)="refresh(undefined)">

              <ion-segment-button value="directory" content-id="directory-view">
                <ion-label>By Directory</ion-label>
              </ion-segment-button>

              <ion-segment-button value="table" content-id="table-view">
                <ion-label>List All</ion-label>
              </ion-segment-button>

            </ion-segment>
          </ion-item>

          <ion-item>
            <ion-segment-view style="width: 100%">
              <ion-segment-content id="directory-view" style="cursor: default;">
                <ng-container *ngTemplateOutlet="directoryFilterBodyView"></ng-container>
              </ion-segment-content>

              <ion-segment-content id="table-view">
                <ion-list style="width: 100%" #tableFilterView>
                  <ion-item>
                    <ion-label><strong>Filter by:</strong></ion-label>
                    <ion-select placeholder="Select One">
                      <ion-select-option value="all">These dont work yet lol</ion-select-option>
                      <ion-select-option value="all">All</ion-select-option>
                      <ion-select-option value="campaign">Campaign</ion-select-option>
                      <ion-select-option value="character">Character</ion-select-option>
                      <ion-select-option value="user">Directory</ion-select-option>
                      <ion-select-option value="user">User</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-searchbar animated="true" placeholder="Search by Name or Content" [debounce]="500" (ionInput)="refresh($event)"></ion-searchbar>
                  </ion-item>

                  <ion-item>
                    <ng-container *ngTemplateOutlet="tableFilterBodyView"></ng-container>
                  </ion-item>
                </ion-list>
              </ion-segment-content>

            </ion-segment-view>
          </ion-item>
        </ion-list>
      </ng-container>
      <br/>
      <ion-note (click)="openGuide()" style="cursor: pointer;">
        <ion-icon name="help-circle-outline"></ion-icon>
        Guide
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>


<ng-template #tableFilterBodyView>
  <ion-grid>
    <ion-row #headerRow class="notes-header">
      <ion-col>
        <ion-label>Name</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Directory</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Tags</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Updated</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Created</ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let note of notes">
      <ion-col>
        <ion-label>
          <a [routerLink]="['/journal', note.id, 'view']">{{note.note?.name}}</a>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{note.note?.directory}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-text *ngFor="let tag of note.note?.tags">{{tag.name}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-label>{{note.updated | date: 'short'}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{note.created | date: 'short'}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>

<ng-template #directoryFilterBodyView>
  <ng-container *ngIf="notes && notes.length > 0; else directoryNoNotes">
    <span style="display: flex; flex-direction: column; height: 100%; min-height: 660px;">
      <ion-accordion-group #directoryAccordion style="flex: 1; overflow-y: auto;">
        <ion-accordion *ngFor="let directory of directories" [value]="directory">
          <ion-item slot="header">
            <ion-label style="display: flex; align-items: center;">
              <h1 [innerHTML]="directoryStylized(directory)"></h1>
              <p style="padding-left: 5px;" class="file-count">
                ({{notesByDirectory.get(directory)?.length ?? 0}})
              </p>
            </ion-label>
            <ion-button fill="clear" size="large" color="subtlesecondary" (click)="shareDirectory(directory)">
              <ion-icon name="share-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-list slot="content">
            <ng-container *ngFor="let note of notesByDirectory.get(directory)">
              <app-note-card [note]="note" [mode]="'row'" [directory]="directory"></app-note-card>
            </ng-container>
            <!-- Add note to directory -->
            <app-note-card [mode]="'row'" [directory]="directory"></app-note-card>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

      <ion-item class="add-directory-item" button="true" (click)="addNewDirectory()" style="flex-shrink: 0;">
        <ion-icon name="add" color="subtlesecondary" style="padding-right: 4px;"></ion-icon>
        <ion-label color="subtlesecondary">
          <h3><i>New Directory</i></h3>
        </ion-label>
      </ion-item>
    </span>
  </ng-container>

  <ng-template #directoryNoNotes>
    <ion-item>
      <ion-label>
        <h2>No notes found</h2>
      </ion-label>
    </ion-item>
    <ion-button fill="clear" (click)="addNewDirectory()">
      <ion-icon name="add" slot="icon-only"></ion-icon>
      <ion-label>Add a New Directory to Start</ion-label>
    </ion-button>
  </ng-template>
</ng-template>

