  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Login or Make an Account</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field style="width:80%">
          <input id="username" matInput placeholder="Username" type="text" formControlName="username" />
          <mat-error *ngIf="loginForm.controls.username.errors?.['genericError']">
            An unknown error has occured. Please try again later, or check the console for more information.
          </mat-error>
          <mat-error *ngIf="loginForm.controls.username.errors?.['loginError']">
            The provided username and password combination could not be found.
          </mat-error>
          <mat-error *ngIf="loginForm.controls.username.errors?.['required']">
            Username is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width:80%">
          <input id="password" matInput placeholder="Password" type="password" formControlName="password" />
          <mat-error *ngIf="loginForm.controls.password.errors?.['required']">
            Password is required.
          </mat-error>
        </mat-form-field>

        <div class="form-row">
          <div fxFlex="column" fxLayoutGap="20px">
            <div fxFlex class="form-row-item">
              <button mat-raised-button color="primary" class="form-row-item" type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
            <div fxFlex="0.5" fxHide.lt-md></div>
            <div fxFlex class="form-row-item">
              <button mat-raised-button color="accent" class="form-row-item" type="button" (click)="registerUser()">Register</button>
            </div>
          </div>
        </div>

        <div class="form-row">
          <p><i>To reset your password contact the site administrator.</i></p>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
