<section>
  <h3>Dungeon Master Creation Panel</h3>
  <hr/>
  <mat-grid-list [cols]="10" rowHeight="20px" gutterSize="6">
    <mat-grid-tile [colspan]="4" [rowspan]="4">
      <mat-card class="button-holder">
        <button mat-raised-button (click)="createCharacter()" color="primary" >Create Character</button>
        <button mat-raised-button color="accent">Create Monster</button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="6">
      <mat-card class="button-holder">
        <mat-card-content>
          Test
          <button mat-raised-button color="accent">Create User</button>
          <button mat-raised-button color="accent">Create Item</button>
          <button mat-raised-button color="accent">Create Item</button>
          <button mat-raised-button color="accent">Create Item</button>
        </mat-card-content>
        <mat-card-content>
          Test 2
          <button mat-raised-button color="accent">Create Item</button>
          <button mat-raised-button color="accent">Create Item</button>
          <button mat-raised-button color="accent">Create Item</button>
          <button mat-raised-button color="accent">Create Item</button>
          <button mat-raised-button color="accent">Create Item</button>
          <button mat-raised-button color="accent">Create Item</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
