<mat-card style="max-width: 85%; margin: auto;">
  <mat-card-header>
    <mat-card-title>
      Dungeon Master Panel
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div fxFlex>
      <mat-card class="button-holder">
        <mat-card-header>
          <mat-card-title>Data</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="space-around none" fxLayoutGap="5px">
            <button mat-raised-button color="primary" (click)="navigateTo('/dmaster/users')">Users</button>
            <button mat-raised-button color="primary" (click)="navigateTo('/dmaster/races')">Races</button>
            <button mat-raised-button color="primary" (click)="navigateTo('/dmaster/classes')">Classes</button>
            <button mat-raised-button color="primary" (click)="navigateTo('/dmaster/feats')">Feats</button>
            <button mat-raised-button color="primary" (click)="navigateTo('/dmaster/spells')">Spells</button>
            <button mat-raised-button color="primary" (click)="navigateTo('/dmaster/characters/create')">+
              Characters</button>
            <button mat-raised-button color="accent">Items</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card class="button-holder">
        <mat-card-header>
          <mat-card-title>Users and User interaction</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="space-around none" fxLayoutGap="5px">
            <button fxFlex="40" mat-raised-button color="primary" (click)="navigateTo('/dmaster/users')">Manage
              Users</button>
            <button fxFlex="40" mat-raised-button color="primary" (click)="navigateTo('/dmaster/characters')">Manage Characters</button>
            <button fxFlex="40" mat-raised-button color="accent">Manage Items</button>
            <button fxFlex="40" mat-raised-button color="accent">Manage Knowledge</button>
            <button fxFlex="40" mat-raised-button color="accent">Manage Spells</button>
            <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
            <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
            <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
            <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
            <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
            <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
