<mat-card style="max-width: 85%; margin: auto;">
  <mat-card-header>
    <mat-card-title>
      Dungeon Master Panel
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around">
      <div fxFlex>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              View and Manage
            </mat-card-title>
          </mat-card-header>

          <mat-divider></mat-divider>

          <mat-card-content>
            <div fxLayout="column">
              <div #column1 fxFlex fxLayout="row" fxLayoutAlign="space-between">
                <div fxFlex="10">
                  <h4>View</h4>
                </div>

                <div fxFlex="90" style="padding: 20px;">
                  <div fxLayout="row wrap" fxLayoutAlign="space-between none" fxLayoutGap="8px">
                    <button fxFlex mat-stroked-button (click)="navigateTo('/dmaster/characters')">Characters</button>
                    <!-- <button fxFlex mat-stroked-button>View Monsters</button>
                         <button fxFlex mat-stroked-button>View Items</button> -->
                    <button fxFlex mat-stroked-button (click)="navigateTo('/dmaster/races')">Races</button>
                    <button fxFlex mat-stroked-button (click)="navigateTo('/dmaster/classes')">Classes</button>
                    <button fxFlex mat-stroked-button (click)="navigateTo('/dmaster/feats')">Feats</button>
                    <!-- <button fxFlex mat-stroked-button>Spells &amp; Abilities</button> -->
                  </div>
                </div>
              </div>

              <mat-divider></mat-divider>

              <div #column2 fxFlex fxLayout="row" fxLayoutAlign="space-between">
                <div fxFlex="10">
                  <h4>Create</h4>
                </div>

                <div fxFlex="90" style="padding: 24px;">
                  <div fxLayout="row wrap" fxLayoutAlign="space-between none" fxLayoutGap="8px">
                    <button fxFlex mat-stroked-button (click)="navigateTo('dmaster/characters/create')">Character</button>
                    <button fxFlex mat-stroked-button (click)="navigateTo('dmaster/races/create')">Race</button>
                    <button fxFlex mat-stroked-button (click)="navigateTo('dmaster/feats/create')">Feat</button>
                    <!-- <button fxFlex mat-stroked-button>View Monsters</button>
                    <button fxFlex mat-stroked-button>View Items</button> -->
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

  <div fxFlex>
    <mat-card class="button-holder">
      <mat-card-header>
        <mat-card-title>Users and User interaction</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-around none" fxLayoutGap="5px">
          <button fxFlex="40" mat-raised-button color="primary" (click)="navigateTo('/dmaster/users')">Manage Users</button>
          <button fxFlex="40" mat-raised-button color="accent">Manage Items</button>
          <button fxFlex="40" mat-raised-button color="accent">Manage Knowledge</button>
          <button fxFlex="40" mat-raised-button color="accent">Manage Spells</button>
          <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
          <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
          <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
          <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
          <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
          <button fxFlex="40" mat-raised-button color="accent">Create Item</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
