<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="isLoggedIn" mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span class="nav-title">Cythernet</span>
    <div>
      <app-header-button buttonName="Home"
                        buttonIcon="home"
                        buttonRoute="/"
                        [isLoggedIn]="isLoggedIn">
      </app-header-button>

      <app-header-button buttonName="Character"
                        buttonIcon="person"
                        buttonRoute="/character"
                        [isLoggedIn]="isLoggedIn">
      </app-header-button>

      <app-header-button buttonName="Campaign"
                        buttonIcon="map"
                        buttonRoute="/campaign"
                        [isLoggedIn]="isLoggedIn">
      </app-header-button>

      <app-header-button buttonName="Journal"
                        buttonIcon="bookmark_border"
                        buttonIconActive="bookmark"
                        buttonRoute="/journal"
                        [isLoggedIn]="isLoggedIn">
      </app-header-button>

      <app-header-button buttonName="Create"
                        buttonIcon="add_circle_outline"
                        buttonIconActive="add_circle"
                        buttonRoute="/create"
                        [isLoggedIn]="isLoggedIn">
      </app-header-button>
    </div>

    <div style="flex: 1 1 auto;"></div>

    <app-header-button buttonName="Logout"
                      buttonIcon="logout"
                      (click)="logout()"
                      [isLoggedIn]="isLoggedIn">
    </app-header-button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/profile" routerLinkActive="active">Profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
