<mat-card>
  <mat-card-header>
    <mat-card-title>
        Spells
    </mat-card-title>
    <mat-card-subtitle>
        View, Edit, or Add Spells
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
      <button mat-button (click)="router.navigate(['dmaster/spells/create'])"><mat-icon>add</mat-icon>Add a Spell</button>
  </mat-card-actions>
</mat-card>

<br/>

<table #spellstable mat-table [dataSource]="spells">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef><h3>Id</h3></th>
    <td mat-cell *matCellDef="let element"><h4>{{element.id}}</h4></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef><h3>Name</h3></th>
    <td mat-cell *matCellDef="let element"><h4>{{element.name}}</h4></td>
  </ng-container>

  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef><h3>Level</h3></th>
    <td mat-cell *matCellDef="let element">
      <h4 *ngIf="element.level > 0; else cantrip">{{element.level}}</h4>
      <ng-template #cantrip>
        <h4>Cantrip</h4>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="components">
    <th mat-header-cell *matHeaderCellDef><h3>Components</h3></th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.components; else noComponents">
        <div *ngIf="element.components.goldValue > 0">{{element.components.goldValue}}gp</div>
        <div *ngIf="element.components.itemId > 0"><i *ngIf="element.components.quantity > 0">({{element.components.quantity}}) </i>item name</div>
      </span>

      <ng-template #noComponents>
        <i>None</i>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="castingTime">
    <th mat-header-cell *matHeaderCellDef><h3>Casting Time</h3></th>
    <td mat-cell *matCellDef="let element"><h4>{{element.castingTime}}</h4></td>
  </ng-container>

  <ng-container matColumnDef="types">
    <th mat-header-cell *matHeaderCellDef><h3>Type</h3></th>
    <td mat-cell *matCellDef="let element"><h4>{{element.type}}</h4></td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef><h3>Actions</h3></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="router.navigate(['dmaster/spells/create/' + element.id])">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="spellsColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: spellsColumns;"></tr>
</table>
