
<ng-container #main [ngTemplateOutlet]="viewTemplate" style="width: 100%"></ng-container>


<ng-template #loadingView>
  Loading...
</ng-template>

<!-- CARD VIEW -->
<ng-template #cardView>
  <ion-card style="width: 100%; height: 100%" *ngIf="note">
    <ion-card-header>
      <ion-card-title>
        <ion-item lines="none" [button]="true" (click)="openNote()">
          <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
            <div>
              <ion-text [color]="isNoteSharedWithMe ? 'subtlesecondary' : 'notelabel'">
                <strong [ngClass]="{'inactive-note': !note.active}">{{ note.name }}</strong>
              </ion-text>
            </div>
            <div>
              <ng-container *ngIf="isNoteSharedWithMe">
                <ion-icon name="share-outline" color="subtlesecondary"></ion-icon>
                <ion-text color="subtlesecondary">
                  by <strong>{{note.creatorUsername}}</strong>
                </ion-text>
              </ng-container>
            </div>
          </div>
        </ion-item>
      </ion-card-title>
      <ion-card-subtitle style="display: flex; flex-direction: row; justify-content: space-between;">
        <ion-note [color]="isNoteSharedWithMe ? 'subtlesecondary' : 'notelabel'">
          <i>{{ note.directory }} </i>
        </ion-note>
        <ion-note [color]="isNoteSharedWithMe ? 'subtlesecondary' : 'notelabel'">
          {{ note.updated | date }}
        </ion-note>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content *ngIf="noteParts !== null">
      <app-note-text-block [note]="note"></app-note-text-block>
    </ion-card-content>
  </ion-card>

  <!-- Popover -->
  <ion-popover [trigger]="'card-shared-with-' + note!.id" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">
        <!-- Show who shared the note with you -->
        {{note!.rawText}}
      </ion-content>
    </ng-template>
  </ion-popover>
</ng-template>


<!-- ROW VIEW -->
<ng-template #rowView>
  <ion-item style="width: 100%" [button]="true" (click)="openNote()" lines="none">
    <ng-container *ngIf="note; else noNoteLabel">
      <ion-icon name="chevron-forward-outline" size="small"></ion-icon>

      <ion-label color="notelabel">
        {{ title }}
      </ion-label>
    </ng-container>
    <ng-template #noNoteLabel>
      <ion-icon name="add" color="secondary"></ion-icon>
      <ion-label color="secondary">
        <h3><i>{{ title }}</i></h3>
      </ion-label>
    </ng-template>

    <ng-container *ngIf="note">
      <ng-container *ngIf="note.note?.tags">
        <app-tag *ngFor="let tag of note.note!.tags!" [canEdit]="false" [tag]="tag" [size]="'small'" class="note-updated"></app-tag>
      </ng-container>

      <ng-container *ngIf="isNoteSharedWithMe">
        <ion-button [id]="'shared-with-' + note.id" slot="start" color="subtlesecondary" size="small" (click)="$event.stopPropagation()">
          <ion-icon slot="icon-only" name="people-outline"></ion-icon>
        </ion-button>

        <!-- Popover -->
        <ion-popover [trigger]="'shared-with-' + note.id" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">
              <!-- Show who shared the note with you -->
              Shared by: {{note.creatorUsername}}
            </ion-content>
          </ng-template>
        </ion-popover>
      </ng-container>

      <ion-note style="align-self: center;" class="note-updated">
        {{ note.updated | date: 'short' }}
      </ion-note>
    </ng-container>
  </ion-item>
</ng-template>
