<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>Welcome to the Shop</h2>
      </ion-card-title>
      <ion-card-subtitle>
        <h3>Under construction!</h3>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
            <h1>Your participation and cooperation on this application will
              soon reward you with the opportunity to engage in simulated proto-capitalism.
              <br/> <br/> Rejoice!</h1>
        </ion-item>
        <ion-item>
          Coming soon:
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label><b>Item</b></ion-label>
              </ion-col>
              <ion-col>
                <ion-label><b>Unlock</b></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Themes</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Shop / Acheivements</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Equipment</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Shop / Acheivements</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Chat Flairs</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Shop / Acheivements</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Gold Exchange</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Shop</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
