<div style="width: 150px; margin: 2px; border-style: double;" fxLayout="column" fxLayoutAlign="center">
  <h2 fxFlex style="margin-bottom: 2px; text-align: center;">{{statName}}</h2>
  <mat-form-field fxFlex style="width: 100%; padding: 0px 12px;">
    <input matInput type="number" [value]="statValue" (change)="iChanged($event)" [disabled]="disabled"/>
  </mat-form-field>
  <div fxFlex style="padding-bottom: 12px; align-self: center;">
    <mat-chip-listbox>
      <mat-chip [highlighted]="bonus !== '+0'" [color]="isNegativeBonus ? 'warn' : 'primary'"><b>{{bonus}}</b></mat-chip>
    </mat-chip-listbox>
  </div>
</div>

