<div matBadgePosition="above after"
    [matBadge]="bonus"
    [matBadgeOverlap]="true"
    matBadgeSize="large"
    style="left: -16px;"
    [matBadgeColor]="isNegativeBonus ? 'warn' : 'accent'">
</div>
  <mat-expansion-panel
      (opened)="descriptionOpen = true"
      (closed)="descriptionOpen = false"
      >
      <mat-expansion-panel-header [collapsedHeight]="'46px'" [expandedHeight]="'46px'">
        <mat-panel-title>
          {{statName}}
    </mat-panel-title>
    <mat-panel-description style="justify-content: right;">
      <h3 style="margin:0; padding:0;">
        {{statValue}}
      </h3>
    </mat-panel-description>
    </mat-expansion-panel-header>
  {{statDescription}}
  <form [formGroup]="statForm" *ngIf="isAdmin">
    <mat-form-field style="width:70%;">
      <span *ngIf="statValue !== undefined">
        <input  matInput type="number" (change)="iChanged($event)" value="statValue" style="margin-top: 10px;"
        formControlName="statValueControl"/>
      </span>
    </mat-form-field>
  </form>
  </mat-expansion-panel>
