<div matBadgePosition="above after"
  [matBadge]="bonus"
  [matBadgeOverlap]="true"
  matBadgeSize="large"
  style="left: -16px;"
  [matBadgeColor]="isNegativeBonus ? 'warn' : 'accent'">
</div>

<mat-expansion-panel (opened)="descriptionOpen = true" (closed)="descriptionOpen = false">
  <mat-expansion-panel-header [collapsedHeight]="'46px'" [expandedHeight]="'46px'">
    <mat-panel-title>{{stat}}</mat-panel-title>
    <mat-panel-description style="justify-content: right;">
      <h3 style="margin:0; padding:0;">
        {{statValue}}
      </h3>
    </mat-panel-description>
  </mat-expansion-panel-header>

  {{statDescriptions[stat]}}

  <mat-form-field style="width:70%;">
    <span *ngIf="statControl === null">
      <input matInput type="number" [ngModel]="statValue" #statInput="ngModel" (ngModelChange)="iChanged($event, statInput)" style="margin-top: 10px;"/>
    </span>
    <span *ngIf="statControl !== null">
      <input matInput type="number" [formControl]="statControl" style="margin-top: 10px;"/>
    </span>
  </mat-form-field>
</mat-expansion-panel>
