<ion-content>
  <ion-card>
    <ion-card-content>
      <app-table [data]="users"
                [columns]="cols"
                [actions]="getTableActions()"
                [primaryColumn]="'username'"
                (valueChange)="saveChanges($event)">
      </app-table>
    </ion-card-content>
  </ion-card>
</ion-content>


<ng-template #rolesTemplate let-row let-column="column">
  <ion-item>
    <ion-label><h2>Roles</h2></ion-label>
    <ion-select [(ngModel)]="row.roles" [value]="row.roles" multiple="true" [selectedText]="row[column.name].length + ' roles selected'" [compareWith]="compareRoleFn">
      <ion-select-option *ngFor="let option of roleOptions" [value]="option" >
        {{ option.roleName }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Role</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Level</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let role of row.roles">
        <ion-col>
          <ion-label> {{ role.roleName }} </ion-label>
        </ion-col>
        <ion-col>
          <ion-label> {{ role.level }} </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-button fill="outline" color="primary" (click)="confirmRoleChange(row)">Confirm</ion-button>
  <ion-button fill="outline" color="secondary" >Cancel</ion-button>
</ng-template>
