

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@import './themes.scss';
@include mat-core();
@include angular-material-theme($cyther-app-theme);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
/** UNCOMMENT THE FOLLOWING FOR BACKGROUND COLOR MATCHING **/
// $cyther-background-color: map-get($mat-green, 600);
// $cyther-background: map-get($cyther-app-theme, background);
// $cyther-background: map-merge($cyther-background, (background: $cyther-background-color));
// $cyther-app-theme: map-merge($cyther-app-theme, (background: $cyther-background));
/** ------------------------------------------------------- **/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

* {
  font-family: 'Roboto', sans-serif;
}

mat-sidenav {
  min-width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

mat-sidenav-content {
  margin-left: 10%;
  margin-right: 10%;
  min-height: 800px;
}

.cyther-page {
  min-height: 800px;
}

.form-row {
  display: flex;
  margin: 0 5% 1%;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

.form-row-item {
  padding: 5px;
  margin: 8px;
  text-align: center;
  width: 100px;
}

.mat-badge-content {
  z-index: 9999999;
}
